
@import url('https://fonts.googleapis.com/css2?family=Babylonica&family=Clicker+Script&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Babylonica&family=Clicker+Script&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body{
    width: 95vw;
    height: 100vh;
    background: url(vue-face-du-concept-bureau-espace-copie.jpg) fixed no-repeat left/cover;
}
*{
    margin: 0;
    padding: 0;
}
.prS{
    font-size: 400px;
    font-family: 'Clicker script';
    font-weight: 00;
    position: absolute;
    z-index: 5;
    left: 200px;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
    top: 89px;
    animation: animate 8s;
  
}
.prD{
    font-size: 400px;
    font-family: 'poppins';
    font-weight: 600;
    position: absolute;
    left: 0px;
    color: rgb(164, 157, 157);
    top: 169px;
    left: 320px;
    animation: animate 8s;
}
.cadreS{
    color: black;
    background: linear-gradient(45deg, rgba(255, 255, 255, 0),rgba(255, 255, 255, 0.22)) transparent;
    height: 350px;
    width:300px;
    left: 160px;
    border-radius: 20px;
    border: solid rgb(157, 145, 145) 10px;
    z-index: -2;
    position: absolute;
    top: 160px;
    animation: animate 8s;

}
.cadreD{
    position: absolute;
    background: linear-gradient(5deg,#ffffff00, #ffffff42);
    z-index: -3;
    top: 320px;
  left: 300px;
  border-radius: 20px;
  border: solid rgb(255, 243, 243);
    position: absolute;
    height: 300px;
    width: 350px;
    animation: animate 8s;
}
.pack{
    height: 400px;
    width: 400px;
    background: rgba(255, 255, 255, 0);
    border: solid 10px rgba(255, 255, 255, 0);
   position: absolute;
   border-radius: 40px;
   top: 130px;
   left: 300px;
   z-index: -6;
   animation: animate 8s;
}
.t{
    position: absolute;
    font-family: 'Poppins';
    font-weight: bold;
    top: 240px;
    color: rgb(34, 34, 34);
    text-decoration: underline;
    left: 405px;
    font-size: 50px;
    animation: animate 8s;
}
.e{
    position: absolute;
    font-family: 'Clicker script';
    font-size: 130px;
    color: rgb(0, 0, 0);
    top: 480px;
    animation: animate 8s;
    font-weight: 100;
    left: 590px;
}
.pre{
  color: white;
  animation: animate 8s;
  text-decoration: underline ;
}
.prem{
    color: white;
    font-size: 70px;
    animation: animate 8s;
  }

@keyframes animate {
    0%{
        opacity: 0;
        transform: scale(0);
    }
    100%{
        opacity: 1;
    }
}